.vscode/settings.json
0x02-python-import_modules/main.c
0x13-javascript_objects_scopes_closures/main.js
.gitignore
0x0F-python-object_relational_mapping/main.py
.gitignore
0x0F-python-object_relational_mapping/__pycache__/
.gitignore
0x15-javascript-web_jquery/.vscode/settings.json
0x15-javascript-web_jquery/main.html
